src/main/mule/endpoints/get-studnets-pending-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\students\pending-report:api-config" doc:id="flow-id">
    
    <!-- DB Query -->
    <db:select doc:name="Select New Marks" config-ref="Database_Config">
        <db:sql><![CDATA[SELECT * 
FROM students
WHERE days_left = 0 AND report_file_path IS NULL;
]]></db:sql>
    </db:select>
    
    <!-- Transform Output -->
		<ee:transform doc:name="Transform to JSON">
        <ee:message>
            <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <!-- Error Handler -->
    <logger level="INFO" doc:name="Logger" doc:id="f4450ad5-bf1d-4b18-9b86-a39dcf09a48c" message="#[payload]"/>
		<error-handler>

        <!-- Handle DB errors or unexpected runtime issues -->
        <on-error-propagate
            type="DB:CONNECTIVITY, DB:QUERY_EXECUTION"
            enableNotifications="true"
            logException="true"
            doc:name="On DB or System Error">
				<ee:transform doc:name="Error Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }	
---
{
  "error": error.errorType.identifier,
  "errorMessage": error.description,
  "correlationId": correlationId,
  "timestamp": timestamp
}
 ]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-propagate>

        <!-- Handle input validation errors (if needed in the future) -->

    </error-handler>
</flow>
</mule>