src/main/mule/endpoints/get-new-marks-records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\students\marks\new:api-config" doc:id="flow-id">
    
    <!-- DB Query -->
    <db:select doc:name="Select New Marks" config-ref="Database_Config" target="students">
        <db:sql><![CDATA[
            SELECT * FROM mark_records WHERE created_date >= :since
        ]]></db:sql>
        <db:input-parameters><![CDATA[#[{
                since: attributes.queryParams.since
}]]]></db:input-parameters>
    </db:select>
    
    <!-- Transform Output -->
    <ee:transform doc:name="Transform to JSON">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }	
---
if(isEmpty(vars.students))
	{
		message:"No new students with joining date greater than "++ attributes.queryParams.since,
		statusCode: 404,
        correlationId: correlationId,
        timestamp: timestamp
		
	}
	else
		vars.students]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <!-- Error Handler -->
    <error-handler>

        <!-- Handle DB errors or unexpected runtime issues -->
        <on-error-propagate
            type="DB:CONNECTIVITY, DB:QUERY_EXECUTION"
            enableNotifications="true"
            logException="true"
            doc:name="On DB or System Error">
				<ee:transform doc:name="Error Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }	
---
{
	"statusCode": 400,
  "error": error.errorType.identifier,
  "errorMessage": error.description,
  "correlationId": correlationId,
  "timestamp": timestamp
}
 ]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-propagate>

        <!-- Handle input validation errors (if needed in the future) -->

    </error-handler>
</flow>
</mule>