src/main/mule/endpoints/get-student-score-by-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\student\(ID)\get-score:api-config" doc:id="0e24209a-d0bf-43ed-8cee-1d91cde74b17" >
		<ee:transform doc:name="" doc:id="2c30a5ec-e8b4-4880-af64-2550471fb155" >
			<ee:variables >
				<ee:set-variable variableName="ID" ><![CDATA[
attributes.uriParams.'ID']]></ee:set-variable>
				<ee:set-variable variableName="day" ><![CDATA[attributes.queryParams.day]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="" doc:id="c924231c-abc4-49fa-a1bc-79c2647f5042" name="fetch-student-marks-by-id-and-day-sub-flow"/>
	</flow>
	<sub-flow name="fetch-student-marks-by-id-and-day-sub-flow" doc:id="98aa95e1-f9c7-40c1-9816-6356783c490c" >
		<ee:transform doc:name="prepare sql query" doc:id="73a400f4-012e-40a1-83b8-0fa764204a49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var id = vars.ID
---
{
  query: "select * from mark_records where ID = \"" ++ id ++ "\""
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="55305642-e18f-4857-b6e1-faa4c027d75f" >
			<db:select doc:name="Select" doc:id="1ea34450-be42-4be0-b677-273deff22b04" config-ref="Database_Config" >
				<db:sql ><![CDATA[#[payload.query]]]></db:sql>
			</db:select>
			<ee:transform doc:name="create output payload" doc:id="9b3dbcb9-50b3-4fee-bded-7198bf8ea9bf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

var id =  vars.ID default ""
var day = vars.day default null
var result = 
  if (day == null) 
    payload 
  else 
    payload filter 
    (record) -> record.day_of_course == (day as Number)
---
if (isEmpty(payload)) 
  {
    statusCode: 404,
    message: "No records found for student ID: " ++ id as String
  }
else if (day != null and isEmpty(result)) 
  {
    statusCode: 404,
    message: "No records found for student ID: " ++ id as String ++ " with day = " ++ (day as String)
  }
else 
  {
    status: "success",
    message: "Student record(s) retrieved",
    data: result
  }
]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error continue" doc:id="7f161aab-097e-459a-8a97-503f35ece0bc" type="DB:CONNECTIVITY" >
					<ee:transform doc:name="Transform Message" doc:id="7d816c3c-c753-404b-88d2-48f2d0c8274f" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }	
---
{
	"statusCode":500,
  "error": error.errorType.identifier,
  "errorMessage": error.description,
  "correlationId": correlationId,
  "timestamp": timestamp
}
 ]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a76b0542-0800-4c71-bd4e-d11a2dfc3261" type="DB:BAD_SQL_SYNTAX, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED" >
					<ee:transform doc:name="Transform Message" doc:id="b4a1253e-f5e1-41fb-9296-2021b981170f" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var timestamp = now() as String { format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ" }	
---
{
	"statusCode":400,
  "error": error.errorType.identifier,
  "errorMessage": error.description,
  "correlationId": correlationId,
  "timestamp": timestamp
}
 ]]></ee:set-payload>
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
