src/main/mule/endpoints/POST-student-register.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="post:\student\register:application\json:api-config" doc:id="40762738-6ab0-42d6-8166-8d4ad445e2d6" >
		<logger level="INFO" doc:name="Logger" doc:id="ca20e105-da7c-4eb7-be67-4f57d057e9ad" message='#["Received request - Correlation ID: "++ (correlationId)]'/>
		<flow-ref doc:name="Flow Reference" doc:id="321b5f8f-f63b-4ccd-a2db-8a7aecef9133" name="register-student-in-salesforce-sub-flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="167fe9f3-8a46-4d81-ad93-0063635553b6" message='#["Response request - Correlation ID: "++ (correlationId)]'/>
	</flow>
</mule>
